@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

ol{margin:0;padding:0}
table td, table th{padding:0} 
p {line-height:1.4;font-family:"Playfair Display"; color:#ffffff;font-size:1.2em;;vertical-align:baseline}
span {line-height:1.4;font-family:"Playfair Display"; color:#ffffff;font-size:1.2em;;vertical-align:baseline}
.default {font-family:"Playfair Display"; color:#ffffff;font-weight:400;vertical-align:baseline;font-size:1.2em}

.c12{padding-top:0pt;padding-bottom:0pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:center}.c6{color:#ffffff;;text-decoration:none;vertical-align:baseline;font-size:1.2em;font-style:normal}.c7{color:#f1c232;text-decoration:none;vertical-align:baseline;font-style:normal}.c5{color:#b7ff15;;text-decoration:none;vertical-align:baseline;font-size:1.2em;font-style:normal}.c3{color:#ffffff;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:1.5em;font-style:normal}.c8{color:#000000;;text-decoration:none;vertical-align:baseline;font-size:1.2em;font-style:normal}.c21{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}.c1{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c0{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c26{color:#ffffff;;text-decoration:none;vertical-align:baseline;font-size:1.5em}.c17{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:center}.c22{color:#4f81bd;;font-size:1.2em}.c23{color:#c0504d;;font-size:1.2em}.c18{color:#e69138;;font-size:1.2em}.c20{font-size:1.2em;color:#c00000;}.c15{color:#000000;font-weight:700;font-size:1.5em}.c11{color:#ffed67;;font-size:1.2em}.c19{font-size:1.2em;color:#ffffff;}.c27{color:#b7ff15;;font-size:11pt;font-family:"Arial"}.c2{font-size:1.2em;color:#6f6fde;}.c10{color:#000000;background-color:#f3f3f3;font-size:1.2em;}.c24{font-size:1.2em;color:#b7ff15;}.c25{color:#f79646;;font-size:1.2em}.c29{background-color:#0d0d0d;max-width:468pt;padding:60pt 60pt 60pt 60pt}.c9{text-decoration:none;vertical-align:baseline;font-style:normal}.c16{background-color:#f3f3f3}.c28{font-style:normal}.c13{font-style:italic}.c14{height:11pt}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:0pt;color:#000000;font-weight:700;font-size:1.5em;padding-bottom:0pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:center}



.inner-layer {background-color:#3d3d3d}
.big-centre {padding-top:0pt;padding-bottom:0pt;line-height:1.1;orphans:2;widows:2;text-align:center;font-weight:700;color:#ffffff;font-family:"Playfair Display"; font-size:1.5em}
.mid-centre {padding-top:0pt;padding-bottom:0pt;line-height:1.1;orphans:2;widows:2;text-align:center;font-weight:400;color:#ffffff;font-family:"Playfair Display"; font-size:1.5em; font-style:italic}

.bg {background-position: center; background-image: url("curtain.png");}

.story {
    padding: 40px;
    margin-top: 0%;
    margin-bottom:0%;
}

.banner {
    background-position: center;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.navbar {
  background-color:#1d1d1d;
  width:100%;
	position: fixed;
	line-height: 1;
  z-index: 1;
  align-content: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  top: 0px;
	left: 0px;
  border: 1px dashed #aaaaaa;
	border-right: 0px;
	border-left: 0px;
}

.navbar a {
  left: 0px;
  right: 0px;
  text-decoration:none;
  color:#ffffff;font-weight:700;font-size:1.5em;
  font-family: "Playfair Display", serif;
  text-shadow: 3px 3px #000000;
}

@media only screen and (max-width: 1080px) {
  /* for mobile phones: */
  .story {
    margin-left: 3%;
	margin-right: 3%;
    margin-top: 0%;
    margin-bottom:0%;
    padding: 10px;
  }
}